body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5px;
  padding-left: 5px;
}

.somefaq__box {
  margin-bottom: 25px;
}

.meetour {
  margin-top: 80px;
}
